/* src/pages/HomePage.css */

.homepage {
  color: #fff;
}

.carousel-item img {
  object-fit: fill;
  height: 620px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.title {
  color: black;
}
.delivery {
  height: 370px;
  object-fit: contain;
  width: 100%;
  display: flex;
  justify-content: center;
}
.app-dow {
  background: #cccccc1a;
}

.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.content-video {
  position: absolute;
  left: 42.5%;
  top: 45%;
  z-index: 1;
  color: white;
}

.overplay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
